body{
    min-width: 200px;
    padding: 1em;
}

.switch{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 1em;
}

.slider{
    width: 60px;
    height: 30px;
    background-color: lightgrey;
    position: relative;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.label{
    margin-left: 10px;
    font-size: 1.2em;
}

.slider::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.switch.on .slider {
    background-color: #4caf50;
}

.switch.on .slider::before {
    transform: translateX(30px);
}

h1{
    text-align: center;
    margin-bottom: 1em;
}

p{
    text-align: center;
    margin-bottom: 2em;
}

img{
    margin-left: 6em;
    margin-bottom: 1em;
}

